@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.contact-form {
  position: relative;
  z-index: 0;
  background: white;
  padding: 30px;
  display: grid;
  grid-template-rows: auto auto; 
  align-items: center;
  border: 10px solid #28a745;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.address-card,
.content,
.form-img {
  border-radius: 8px;
  margin-bottom: 20px;
}

.address-card {
  background: #28a745;
  padding: 20px;
  color: #fff;
  text-align: center;
  width: 100%;
}

.contact-form h2 {
  line-height: 40px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 500;
  color: #28a745;
  text-align: center;
}

.contact-form .main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0;
}

.content,
.form-img {
  flex-basis: 100%;
  background: #fff;
  border: 2px solid #28a745;
}

.content {
  padding: 3em;
  box-shadow: 2px 9px 49px -17px rgba(156, 39, 148, 0.1);
}

.form-img {
  padding: 40px;
  align-items: center;
  display: grid;
}

.form-img img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  animation: fadeInUp 1s ease-in-out;
}

.btn,
button,
input {
  border-radius: 35px;
}

.btn:hover,
button:hover {
  color: #28a745;
  transition: 0.5s ease;
}

.contact-form form {
  margin: 30px 0;
}

.contact-form input,
textarea {
  outline: none;
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
  padding: 14px 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  background: #fff;
  transition: 0.3s ease;
}

.contact-form input:focus {
  background: transparent;
  border: 1px solid #28a745;
}

.contact-form button {
  font-size: 18px;
  color: #fff;
  width: 100%;
  background: #28a745;
  font-weight: 600;
  transition: 0.3s ease;
  padding: 14px 15px;
  border: 1px solid #28a745;
}

@media (min-width: 737px) {
  .contact-form .main {
    flex-direction: row;
  }
  .content,
  .form-img {
    flex-basis: calc(50% - 10px);
  }
}
