.home-container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.landing-container {
  margin-bottom: 0;
  background-color: #333; 
  color: white;
  padding: 20px;
}

.right-content img {
  max-width: 100%;
  height: auto;
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.right-info {
  padding-top: 20px;

  @media (min-width: 768px) {
    padding-left: 20px;
  }
}

.models-container {
  background-color: lightgreen; 
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.models-container h2 {
  color: #333; 
}

@media (max-width: 480px) {
  .landing-content {
    flex-direction: column;
    align-items: center;
  }

  .right-info {
    padding-top: 20px;
    padding-left: 0;
  }
}
